<html>
  <head>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css'/>
  </head>
  <body>
    <div class = 'container'>
      <a href='/'>Home</a>
      <h1>All Products</h1>
      <div class='well'>
        <form action='/products' method='POST'>
          <div class = 'form-group'>
            <input class='form-control' name='name' placeholder='Name'>
          </div>
          <div class = 'form-group'>
            <input class='form-control' name='rating' placeholder='Rating'>
          </div>
          <div class = 'form-group'>
            <button class = 'btn btn-primary'>Save</button>
          </div>
        </form>
      </div>
      <div>
        <ul class = 'list-group'>
          {% for product in productArray %}
          <li class = 'list-group-item'> <a href='/products/{{ product.productID }}'> {{product.productName}} </a> </li>
          {% endfor %}
        </ul>
      </div>

    </div>

  </body>

</html>
